h1, p {
  text-align: center;
}

.controls {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

#volume-range {
  width: 100%;
  padding: 0;
  position: relative;
}

#volume-range::before {
  content: "0";
  position: relative;
  left: -12px;
  top: 3px;
}

#volume-range::after {
  content: "100";
  position: relative;
  right: -25px;
  top: 3px;
}